:root {
  --color-primary: #8BC73D;
  --color-gradient-start: #8BC73D;
  --color-gradient-stop: #8BC73D;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.625em;
  letter-spacing: 0.01em;
  font-size: 1em;
  color: #73747f;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Roboto', sans-serif;
  color: #1a1c26;
}

.darkBlue { 
  color: #1a1c26;
}

.h1,
h1 {
  font-weight: 300;
  line-height: 1.244em;
  font-size: 45px;
}

.h2,
h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.285em;
}

.h3,
h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.342em;
}

.h4,
h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.35em;
}

.h5,
h5 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.35em;
}

.h6,
h6 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2em;
}

.main-nav > li > a {
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #fff;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.main-footer {
  padding-top: 70px;
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn) {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn):hover {
  color: #fff;
}

.mainbar-wrap {
  background: #8BC73D;
}

.secondarybar-wrap {
  background: #52890A;
}

.tryFreeInput {
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  height: 48px;
  padding-left: 10px;
}

.noInputOutline:focus {
  outline: none;
}

.startTrialInput {
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  height: 61px;
  padding-left: 10px;
  position: relative;
  top: 2px;
  margin-right: 20px;
  width: 333px;
}

.iconbox-side .iconbox-icon-wrap.globe {
  margin-right: 0;
}

.icon-md-globe {
  color: #8BC73D;
}

.popularFeatures {
  color: #8BC73D;
}

.popFeaturesContent {
  display:flex;
  justify-content: space-between;
}

.d-flex.overlay {
  justify-content: center;
  align-items: center;
}

.startTrialInputOverlay {
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  height: 61px;
  padding-left: 10px;
  position: relative;
  top: 2px;
  margin-right: 20px;
  width: 200px;
}

.overlayButton {
  margin-right:80px;
}

.lqd-column.pull-up {
  margin-top: -17%;
}

.navDropDownIcon {
  margin-right:10px;
  color: #8BC73D;
  font-size:30px;
}

.mainbar .navbar-header {
  height: 60px;
}

.main-nav > li:hover {
  background: white;
}

.main-nav > li:hover > a {
  color: #8BC73D;
}

.nav-item-children .vc_row.row.megamenu-inner-row.bg-white {
  border: none;
}

.color-orange {
  background: #FF8730;
  border-color: #FF8730;
  color: white;
}

.color-orange:hover {
  background: #f07507;
  border-color: #f07507;
  color: white;
}

.iconBoxWrap {
  justify-content: space-around;
}

.iconBoxInterior {
  min-width: 263px;
}

.iconBoxInterior.red {
  border-top: 3px solid #F3376B;
}

.iconBoxInterior.red i, .iconBoxInterior.red a {
  color: #F3376B;
}

.iconBoxInterior.red p {
  margin-bottom:10px;
}

.iconBoxInterior.red a {
  font-size: 16px;
  line-height: 24px;
}

.iconBoxInterior.red a:hover {
  border-bottom: 2px solid #F3376B;
  padding-bottom: 5px;
}

.iconBoxInterior.red a:hover i {
  position: relative;
  left:2px;
}

.iconBoxInterior.orange {
  border-top: 3px solid #FF8730;
}

.iconBoxInterior.orange i, .iconBoxInterior.orange a {
  color: #FF8730;
}

.iconBoxInterior.orange p {
  margin-bottom:10px;
}

.iconBoxInterior.orange a {
  font-size: 16px;
  line-height: 24px;
}

.iconBoxInterior.orange a:hover {
  border-bottom: 2px solid #FF8730;
  padding-bottom: 5px;
}

.iconBoxInterior.orange a:hover i {
  position: relative;
  left:2px;
}

.iconBoxInterior.purple {
  border-top: 3px solid #9159FC;
}

.iconBoxInterior.purple i, .iconBoxInterior.purple a {
  color: #9159FC;
}

.iconBoxInterior.purple p {
  margin-bottom:10px;
}

.iconBoxInterior.purple a {
  font-size: 16px;
  line-height: 24px;
}

.iconBoxInterior.purple a:hover {
  border-bottom: 2px solid #9159FC;
  padding-bottom: 5px;
}

.iconBoxInterior.purple a:hover i {
  position: relative;
  left:2px;
}

.icon-md-checkmark.green {
  color: #8BC73D;
  margin-right:5px;
}

@media (min-width: 1200px) {
  .main-header .is-stuck {
    background: #fff !important;
  }
  .mainbar-wrap.is-stuck .social-icon a,
  .mainbar-wrap.is-stuck .header-module .ld-module-trigger,
  .mainbar-wrap.is-stuck .main-nav > li > a,
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    color: #424242 !important;
  }
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    border-color: #424242 !important;
  }
  .is-stuck .btn {
    color: #fff;
    border-color: #8BC73D;
  }
  .is-stuck .btn.btn-solid {
    background-color: #8BC73D;
  }
  .is-stuck .btn:hover {
    border-color: #3a3a3a;
    color: #fff;
  }
  .is-stuck .btn:hover, .is-stuck .btn.btn-solid:hover {
    background-color: #3a3a3a;
  }
  .megamenu-heading {
    color: #3b91f7;
  }
}
